.navbar{
    height: 50px;
    width: 100%;
    background: #4AC29A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4AC29A, #BDFFF3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4AC29A, #BDFFF3 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.product {
    display: flex;
    flex-flow: wrap;
    padding: 1rem;
}
img {
    border: 1px solid #d8d8d8;
    width: 70%;
    margin: 40px;
    box-shadow: 0px .5px 1px #d8d8d8;
}

.product-image {
    width: 80%;
}
.product-image,
.product-info {
    margin-top: 10px;
    width: 50%;
}

.color-box {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.cart {
    margin-right: 25px;
    float: right;
    border: 1px solid #d8d8d8;
    padding: 5px 20px;
}

button {
    margin-top: 30px;
    border: none;
    background-color: #1E95EA;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 14px;
}

.disabledButton {
    background-color: #d8d8d8;
}
.error{
    text-decoration: line-through;
}
